* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  /* border: 1px solid white; */
}

body {
  background-color: rgb(54, 60, 86);
  /* margin: 1rem; */
}

.auth button {
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  color: black;
}

.auth button:hover {
  background-color: white;
}

img {
  width: 30px;
  height: auto;
}

.nav-bar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0079bf;
}

.header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.5rem;
  font-weight: bolder;
  gap: 0.5rem;
}

.auth {
  width: 20%;
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.list-board {
  /* background-color: rgb(117, 122, 150); */
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90vh;
}

.list {
  width: 30%;
  border-radius: 5px;
  background-color: rgba(130, 160, 186, 0.623);
  padding: 1rem;
  height: fit-content;
  box-shadow: 6px 6px 8px rgb(0, 0, 0);
}

.list-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  color: whitesmoke;
}

/* .list input {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-size: 1rem;
  color: black;
  width: 100%;
}

.list input:focus {
  border: none;
} */
/* 
.list button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(29, 116, 193);
  color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* 
.list button:hover {
  background-color: rgb(54, 126, 189);
} */

.card {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(221, 232, 232);
  font-size: 1rem;
  color: black;
  width: 100%;
}

.openButton {
  margin-top: 1rem;
  background-color: rgb(29, 116, 193);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  cursor: pointer;
}

form {
  background-color: rgb(221, 232, 232);
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
}

textarea {
  width: 100%;
  border: 1px solid #dfe1e6;
  border-radius: 3px;
  resize: none;
  padding: 5px;
  font-size: 1rem;
  color: black;
  background-color: rgb(221, 232, 232);
}

/* buttons {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
} */

/* button {
  margin-top: 0.5rem;
  background-color: rgb(29, 116, 193);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  cursor: pointer;
} */

.functions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.functions button {
  margin-top: 0.5rem;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  cursor: pointer;
}

.add {
  background-color: green;
}

.cancel {
  background-color: rgb(255, 47, 47);
}
